/*main section*/
.ok{
    margin: 0%;
}

.start{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content:space-between ;
    align-items: center;
   
   
}
.name h3{
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.link{
    display: flex;
        
}
 .link a{
        
        text-decoration: none;
        color: black;
        padding: 5px;
        font-family:Georgia, 'Times New Roman', Times, serif;

    }


#ball{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(150, 255, 255);
    margin: 10px;

}
.main {
    height: 80vh;
    width: 100%;
    display: flex;
  
    justify-content: center;
    align-items: center;
    gap:15px
    
}

#img{
   
    width: 450px;
    height: 450px;
    border-radius: 50%;
    
}
.small {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.small 
.buttons {
    display: flex;
    gap: 20px;
    margin-top:30% ;
    
    
}
.buttons a {
    box-shadow: 1px 1px 5px;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    

    text-decoration: none;
    color: black;
    text-align: center;
}
#box1{
    
    border: 1px solid  rgb(255, 0, 0);
    transition: all 0.5s ease;
}
#box1:hover{
    
    background-color:  rgb(255, 0, 0);
    color: white;

}
#box2{
    
    border: 1px solid rgb(242, 169, 120);
    transition: all 0.5s ease;
}
#box2:hover{
    
   background-color: rgb(242, 169, 120);
    color: white;

}
#box3{
    transition: all 0.5s ease;
    border: 1px solid  rgb(0, 98, 255);
}
#box3:hover{
    
    background-color:  rgb(0, 98, 255);
    color: white;

}
#box4{
    transition: all 0.5s ease;
    border: 1px solid  rgb(129, 246, 236);
}
#box4:hover{
    
    background-color: rgb(129, 246, 236);
    color: rgb(255, 255, 255);

}
.footer{
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.footer a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
/*education section*/

.eductaion{
    background-image: url(https://i.pinimg.com/736x/0b/af/22/0baf221760c2675bf6690e0865675dce.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
}

.mainbody{
    margin-left: 5px;
    margin-right:5px ;
    padding-top: 5%;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    gap: 10px;
    box-sizing: border-box;
    grid-template-areas: 
    "box5 box2 box6"
    "box4 box4 box4"
    "box1 box7 box3";
    align-items: center;
    text-align: center;  
}


.ge{ 
    padding-top: 10px;
    grid-area: box1;
    border: 2px solid  #2dd4bf;
    background-color: rgba(255,255,255,0.85);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    border-radius: 10px;
    height: 200px;
    z-index: 0;
}
.ge:hover{
    transform: translateY(-20px);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    box-shadow: 0 20px 35px rgba(0,0,0,0.12);
    border-color: #14b8a6;
}
.we {
    box-sizing: content-box;
    z-index: 0;
    padding-top: 10px;
    grid-area: box2;
     border: 2px solid  #2dd4bf;
    background-color: rgba(255,255,255,0.85);
    border-radius: 10px;
    height: 200px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
     
}
.we:hover{
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    transform: translateY(19px);
    box-shadow: 0 20px 35px rgba(0,0,0,0.12);
    border-color: #14b8a6;
}
.le{
    z-index: 0;
    padding-top: 10px;
    grid-area: box3;
     border: 2px solid  #2dd4bf;
    background-color: rgba(255,255,255,0.85);
    border-radius: 10px;
    height: 200px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
.le:hover{
    transform: translateY(-20px);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    box-shadow: 0 20px 35px rgba(0,0,0,0.12);
    border-color: #14b8a6;
}
.o{
    grid-area: box5;
}
.p{
    grid-area: box6;
}
.l{
    grid-area: box7;
}
.line{
    
    width: 100%;
    height: 10%;
    background-color:#334155;

    border-radius: 20px;
    grid-area: box4;
   
    display: grid;                     
    grid-template-columns: 1fr 1fr 1fr;   
}

.dot {
    width: 20px;
    height: 20px;
    background-color:#334155;
    border-radius: 50%;
    justify-self: center;
    justify-self: center;
    transform: translateY(-50%);

}

.ds{
    display: flex;
    justify-content:space-around;
}


/*projects section*/

.probody{
     background-color: rgb(218, 222, 226)
}
.maintop{
   
    display: flex;
    justify-content: center;
    align-items:top;
    gap: 20px;
    width: 100%;
    height: 100vh;
    box-sizing: content-box;
}
img{
    border-radius: 8px;
    object-fit: cover;
    height: 200px;
    width: 100%;
}
.project{
    
    flex-direction: column;
    box-sizing: content-box;
    padding: 20px 22px;
    border-radius: 8px;
    background-color: white;
    width: 300px;
    height: 80%;
    box-sizing: content-box;
    box-shadow: 0px 10px 35px rgba(0,0,0,0.4);

}

.button3 {
  background: transparent;
  
  border: 2px solid #e63946;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: auto;
  a{text-decoration: none;
    color: #e63946;
}
}


.button3:hover {
  background-color: #e63946;
  a{color: white;}
}

.yo{
   text-align: center;
   margin-bottom:30px ;
   button{
    padding: 15px;
    border-radius: 10px;
    border:white ;
    transition: all 0.5s ease;

}
}


.yo button:hover{
    color: white;
    background-color: #e63946;
    

}
/* Contact  section */
.contact{
    padding-top: 100px;
    border: 1px solid;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    gap: 10px;
    background-color: #b7c2c0;
}
.form{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
#form{
    background-color: rgb(255, 153, 0);
    color: white;
       padding: 15px;
    border-radius: 10px;
    border: none;

}
#form:hover{
    transition: all 0.5s ease;
    transform: translateY(-6px);
    box-shadow: 5px 5px 10px black;

}
.grid1{
    display: grid;
    grid-template-columns: 35px 35px ;
    grid-template-rows: 20px 20px;
    grid-template-areas: 
    "box1 box2"
    "box1 box3";
    justify-content: center;
    align-items: center;
}
.formone{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
